
// base colours

$color-primary: #72e481;
$color-success: #72E4A0;
$color-warning: #F2B990;
$color-danger: #F36279;
$color-info: #63C9C3;

$color-purple: #7969A7;

$color-black: #0C0E10 !default;
$color-white: #E5E2E1 !default;

// backgrounds

$background-color-default: #000000 !default;
$background-color-black: $color-black !default;

$background-color-light:scale-color($background-color-black,$lightness: +2%) !default;
$background-color-lightest:#13171b;

$background-color-alt: #414257;
$background-color-alt-dark: #3B3C4E;

$background-color-white: #E5E2E1;
$background-color-white-dark: #DAD7D7;

$background-color-reserve: #222222;

//text

$color-text-primary: #F7F7F7 !default;
$color-text-regular: #EBEEF5 !default;
$color-text-secondary: #E4E7ED !default;
$color-text-placeholder: #DCDFE6 !default;

$color-text-dark:#67717F !default;
$color-text-darkest: #212529 !default;


// borders

$border-color-base: #4a4a4c !default;
$border-color-light: #3a3a3d !default;
$border-color-lighter: #606266 !default;
$border-color-extra-light: #303133 !default;
